* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #515860;
}

.app {
  background-color: #515860;
  width: 100%;
  min-height: 100vh;
  /* padding-bottom: 3em; */
}

/* BACKGROUND */

/* .background {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-gris {
  z-index: -1000;
  background-color: #515860;
  clip-path: polygon(0 100%, 0 15%, 50% 10%, 100% 15%, 100% 100%);
  clip-path: polygon(0 100%, 0 15%, 100% 15%, 100% 100%);
} */

/* .bg-orange {
  z-index: -2000;
  background-color: #ffb743;
  clip-path: polygon(0 100%, 0 14%, 50% 9%, 100% 14%, 100% 100%);
} */

/* HEADER */

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
  /* height: 15vh; */
  background-color: white;
  border-bottom: 0.5em solid #ffb743;
}

.company-logo {
  width: 200px;
  /* height: 150px; */
  position: relative;
}
.company-logo img {
  width: 100%;
}

.horloge {
  color: #515860;
  font-family: sans-serif;
  text-transform: capitalize;
  align-self: center;
  position: relative;
  /* margin-right: 1em; */
}

.horloge-day,
.horloge-hour {
  text-align: center;
}

/* MAIN */

main {
  margin: 3em 20%;
}

/* MENU */

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}

.menu-container a {
  background-color: #ffb743;
  min-width: 40%;
  padding: 1.5em 1em;
  border-radius: 0.5em;
  /* font-size: 60px; */
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
}

.menu-container h1 {
  color: #515860;
}
.menu-container a:hover h1 {
  color: white;
}

/* POINTAGE */

.user-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  row-gap: 20px;
}

.user {
  width: 30%;
  padding: 1em;
  border-radius: 0.5em;
  background-color: white;
  text-align: center;
  color: black;
  text-decoration: none;
}

.absent {
  background-color: #eb0f0f;
}

.present {
  background-color: #00ff5d;
}

.conges {
  background-color: rgb(0, 162, 255);
}

/* LOGIN */
.keypad_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.keypad_input {
  grid-column: 1/5;
  background-color: white;
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

.keypad_num {
  font-size: 2em;
  padding: 1em;
}

/* ADMIN FORM */
.color-text label,
.color-text p {
  color: white;
}

.color-text h1,
.color-text h2,
.color-text h3,
.color-text h4 {
  color: #ffe2b4;
}

/* MODALS */
.modal-header {
  background-color: #515860;
}
.modal-header .h4 {
  color: #ffe2b4;
}

/* FORMS */
.selected-option {
  background-color: #ffe2b4;
}
